@model List<DataAccess.ProductNetFramework.DTO.Product>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blank Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Mua Hàng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>
                                    <a href="/chi-tiet-@item.Id">Sửa</a>
                                    <button onclick="ProductDelete(@item.Id)">Xóa</button>
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" 
                                       data-productid="@item.Id" 
                                       data-productname="@item.Name"
                                       data-price="@item.Price"
                                       @*this là lấy hết tất cả thuộc tính như class, data trong thẻ đó*@
                                       onclick="AddItemToCart(this)">
                                        <i class="fas fa-cart-plus">
                                            Mua
                                        </i>
                                    </a>                               
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<script>
    function ProductDelete(Id) {
        var input_data = {
            Id: Id
        }

        $.ajax({
            url: '@Url.Action("ProductDelete", "Product")',
            type: 'POST',
            data: input_data,
            success: function (result) {
                alert(result.returnMessage);
            },
            error: function (data) {
                alert('Error adding product.');
            }
        });
    }
</script>


